
doctype html
html(lang="en")

    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="/style.css")


    body

        main 

            h1= category.name

            each thread in threads 
                
                button(class="default-button")

                    h2= thread.title
