
html(lang="en")

    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="style.css")
        script(src="sign-up.js" defer) 

        title Sign-up

    body(id="sign-up")

        header 
            h1 Become a Retrostani 

        main    

            input(id="inputUsername" class="default-input" type="text" placeholder="Username")
            input(id="inputPassword" class="default-input" type="text" placeholder="Password")
            input(id="inputBio" class="default-input" type="text" placeholder="Biography")

            button(id="joinButton" class="default-button") 
                h1 Join




