
doctype html

html(lang="en")

    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="style.css")

        title Main

    body 

        header

            h1 DOOKIEDEX

        main 

            h1 Enter Dookie Name

            div(class="search")

                input(class="search_bar" type="text" placeholder="Nils")

                button(class="search_button")
                
                    img(class="search_icon" src="images/search_icon.png", alt="")
            
