
doctype html

html(lang="en")

    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="/main.css")

        title Main

    body 

        header

            h1 DOOKIEDEX

        main 

            div(class="search")

                input(class="search_bar" type="text" placeholder="Name")

                button(class="search_button")
                
                    img(class="search_icon" src="images/search_icon.png", alt="")

            button(class="add_button") Add New Dookie
